.form-container-billing {
  width: 40%;
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 30px;
}

.billing-text {
  text-align: center;
  font-family: 'Montserrat';
  font-size: 25px;
}

.stripe-checkout-button-disabled {
  pointer-events: none;
  & button {
    background: none !important;

    & span {
      background-image: none !important;
      background-color: gray !important;
      cursor: not-allowed;
    }
  }
}