.signup-container {
  display: flex;
  flex-direction: column;
  margin: auto;
  justify-content: center;
  align-items: center;
  background-color: #FAFAFA;
  width: 40%;
  margin-top: 100px;
  padding-bottom: 50px;
  box-shadow: 0.5rem 0.5rem 3rem rgba(0,0,0,0.2);
  padding-top: 20px;
}

.input-field-wrapper {
  display: flex;
  flex-direction: column;
}

.signup-label {
  margin-bottom: 10px;
}

.input-field {
  width: 300px;
  height: 30px;
  border-radius: 5px;
  padding-left: 5px;
  margin-bottom: 15px;
}

.sign-up-text {
  font-size: 25px;
}

.signup-button-class {
  width: 200px;
  height: 40px;
  border-radius: 20px;
  cursor: pointer;
  color: #FFF;
  background-color: #f7436b;
  font-size: 16px;
  border-color: #f7436b;
  box-shadow: 0.5rem 0.5rem 3rem rgba(0,0,0,0.2);
  align-self: center;
  outline: none !important;

  &:disabled {
    background-color: gray;
    border-color: gray;
    cursor: not-allowed;
  }
}

.signup-button-class:hover {
  box-shadow: none;
}

.form-class {
  display: flex;
  flex-direction: column;
  width: 60%;
}

.new-account {
  text-align: center;
}

.error-text {
  color: #f7436b;
  margin-top: 5px;
  font-size: 14px;
}
.kep-login-facebook.metro {
  width: 200px;
  height: 40px;
  border-radius: 20px;
  box-shadow: 0.5rem 0.5rem 3rem rgba(0,0,0,0.2);
  cursor: pointer;
  color: #FFF;
  background-color: #3b5998;
  font-size: 16px;
  border-color: #3b5998;
}

.kep-login-facebook:hover {
  box-shadow: none;
}

.error-input-field {
  border-color: #f7436b !important;
}

@media only screen and (max-width: 767px) {
  .signup-container {
    width: 95%;
  }
}